{% extends "app1/base.html" %}

{% block content %}

  <div class=" container col-sm-4">
  <h1>Student Register Form</h1>
<br><br>
{{form.non_field_errors}}
<form action="" method="post" novalidate>
  {% csrf_token %}
    {% for field in form %}
    <div class="form-floating mb-3">
    {{field}} {{field.label_tag}} <span class="">{{field.errors|striptags}}</span>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-success">Update</button>
</form>
<br>
<a href="{% url 'home' %}"><button type="submit" class="btn btn-info">HomePage</button></a>
</div>
<br>
{% endblock content %}